*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
position: relative;
width: 400px;
height: 300px;
background-color:#333333;
}
.top{
    position: relative;
    top: 20px;
    left: 50px;
    width: 290px;
    height: 150px;
    background-color: #EEEEEE;
    border-radius: 0 0 70px 70px;
}
.bottom{
    position: relative;
    top:5px;
    left: 50px;
    width: 290px;
    height: 120px;
    background-color: #EEEEEE;
    border-radius: 70px 70px 0 0;
}
.rec1{
   position: relative;
   bottom: 30px;
   left: 65px;
    width: 160px;
    height: 140px;
    background-color:#EEEEEE;
    border-left: 50px solid #333333;
    border-right: 50px solid #333333;
    border-bottom: 50px solid #333333;
}
.rec2{
   position: relative;
   top: 25px;
   left: 65px;
    width: 160px;
    height: 120px;
    background-color:#EEEEEE;
    border-left: 50px solid #333333;
    border-right: 50px solid #333333;
    border-top: 50px solid #333333;
}